# activation de la réécriture d'urls
Options +FollowSymlinks
RewriteEngine on


# un commentaire
RewriteRule ^admin$  index.php?page=admin [L]
RewriteRule ^menu$  index.php?page=menu [L]
RewriteRule ^about$  index.php?page=about [L]
RewriteRule ^contact$  index.php?page=contact [L]
RewriteRule ^dashboard$  index.php?page=tableauDeBord [L]
RewriteRule ^accueil$  index.php [L]
RewriteRule ^jeu/([0-9]+)$  index.php?page=jeu&idJeu=$1 [L]
RewriteRule ^slider$  index.php?page=slider [L]